body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f298;
}

h1 {
  font-size: 2em;
  text-align: center;
  margin-top: 50px;
  color: #870b0b;
}


fieldset {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

label[for="loanAmount"] {
  grid-column: 2 / 3;
}

label[for="term"] {
  grid-column: 1 / 2;
}



label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
form {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.133);
}


input[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  font-size: 1.1em;

}

button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.1em;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}


.result {
  margin-top: 50px;
  text-align: center;
}



@media screen and (max-width: 600px) {
  form {
    padding: 10px;
  }
}
