<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Loan Eligibility Prediction</title>
  <link rel="stylesheet" href="/static/stylesheets/style copy 4.css">
  <style>
    /* add your custom styles here */
  </style>
</head>
<body>
  <header>
    <h1>Loan Eligibility Prediction</h1>
  </header> 
  <form method="POST" id="myForm" action="/">
    <fieldset>
      <legend>Borrower Information</legend>
      <div>
        <label for="loanAmount">Current Loan Amount:</label>
        <input id="loanAmount" name="Current Loan Amount" type="number" required>
      </div>
      <div>
        <label for="term">Term:</label>
        <select id="term" name="Term" required>
          <option value="">-- Select Term --</option>
          <option value="0">Short Term</option>
          <option value="1">Long Term</option>
        </select>
      </div>
      <div>
        <label for="creditScore">Credit Score:</label>
        <input id="creditScore" name="Credit Score" type="number" required>
      </div>
      <div>
        <label for="income">Annual Income:</label>
        <input id="income" name="Annual Income" type="number" required>
      </div>
      <div>
        <label for="jobYears">Years in current job:</label>
        <input id="jobYears" name="Years in current job" type="number" required>
      </div>
      <div>
        <label for="homeOwnership">Home Ownership:</label>
        <select id="homeOwnership" name="Home Ownership" required>
          <option value="">-- Select Home Ownership--</option>
          <option value="0">Home Mortgage</option>
          <option value="1">Rent</option>
          <option value="2">Own Home</option>
          <option value="3">HaveMortgage</option>
        </select>
      </div>
      <div>
        <label for="purpose">Purpose:</label>
        <select id="Purpose" name="Purpose" required>
          <option value="">-- Select Purpose--</option>
          <option value="0">Debt Consolidation</option>
          <option value="1">other</option>
          <option value="2">Home Improvements</option>
          <option value="3">Business Loan</option>
          <option value="4">Buy a Car</option>
          <option value="5">Medical Bills</option>
          <option value="6">Buy House</option>
          <option value="7">Take a Trip</option>
          <option value="8">major_purchase</option>
          <option value="9">small_business</option>
          <option value="10">moving</option>
          <option value="11">wedding</option>
          <option value="12 ">vacation</option>
          <option value="13">Educational Expenses</option>
          <option value="14">renewable_energy</option> 
        </select>
      </div>
      <div>
        <label for="monthlyDebt">Monthly Debt:</label>
        <input id="monthlyDebt" name="Monthly Debt" type="number" required>
      </div>
      <div>
        <label for="creditHistory">Years of Credit History:</label>
        <input id="creditHistory" name="Years of Credit History" type="number" required>
      </div>
      <div>
        <label for="openAccounts">Number of Open Accounts:</label>
        <input id="openAccounts" name="Number of Open Accounts" type="number" required>
      </div>
      <div>
        <label for="creditProblems">Number of Credit Problems:</label>
        <input id="creditProblems" name="Number of Credit Problems" type="number" required>
      </div>
      <div>
        <label for="creditBalance">Current Credit Balance:</label>
        <input id="creditBalance" name="Current Credit Balance" type="number" required>
      </div>
      <div>
        <label for="Opencredit">Maximum Open Credit:</label>
        <input id="Opencredit" name="Maximum Open Credit" type="number" required>
      </div>
      <div>
        <label for="Bankruptcies">Bankruptcies:</label>
        <input id="Bankruptcies" name="Bankruptcies" type="number" required>
      </div>
      <div>
        <label for="Taxliens">Tax Liens:</label>
        <input id="Taxliens" name="Tax Liens" type="number" required>
      </div>
    </fieldset>
    <button type="submit">Check Eligibility</button>
  </form>
  {% if index %}
  <div class="result">
    <span class="message">{{message}}</span>
    <br>
    <span class="message">{{message1}}</span>
    <br>
    <span class="message">{{message2}}</span>
    <br>
    <span class="message">{{message3}}</span>
    <br>
    <span class="message">{{message4}}</span>
    <br>
    <span class="message">{{message5}}</span>
    <br>
    <span class="message">{{message6}}</span>
    <br>
    <span class="message">{{message7}}</span>
    <br>
    <span class="message">{{message8}}</span>
  </div>      
  {% endif %}
</body>
</html> 